.about {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 7rem;
  background-color: white;

  .about__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;

    .about__header {
      background-image: url("./../assets/backgrounds/about_background.jpg");
      background-position: center;
      width: 100%;
      height: 20vh;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 5rem 0;
      &::after {
        content: "";
        width: 100vw;
        height: 20vh;
        background-color: rgba($color: #fff, $alpha: 0.3);
        position: absolute;
      }
      h2 {
        @include h2;
        color: black;
        font-size: 5.5rem;
        font-weight: 600;
      }
    }

    .about__row {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 4rem;
      overflow: hidden;
      &:nth-of-type(2) {
        .about__img {
          background-image: url(./../assets/backgrounds/poznaj_thorr_1.jpg);
        }
      }
      &:nth-of-type(3) {
        .about__img {
          background-image: url(./../assets/backgrounds/poznaj_thorr_4.jpg);
        }
      }
      &:last-of-type {
        .about__img {
          background-image: url(./../assets/backgrounds/poznaj_thorr_5.jpg);
        }
      }

      .about__img {
        height: 250px;
        width: 90vw;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        // margin: 2rem;
        // padding: 2rem;
      }

      .about_parag {
        margin: 0;
        // padding: 2rem;
        height: 25rem;
        width: 90vw;
        background-color: #eee;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @include p;
        h3 {
          @include h2;
          font-size: 2.5rem;
          padding-bottom: 2rem;
          margin-bottom: 2rem;
          border-bottom: 1px solid orange;
        }
      }
    }
  }
}

@media (min-width: 751px) {
  .about {
    background-position: top;
    height: 100vw;
    .about__container {
      .about__header {
        height: 25vh;
        &::after{
          height: 25vh;
        }
      }

      .about__row {
        width: 100vw;
        justify-content: center;
        &:nth-of-type(2) {
          flex-direction: initial;
          .about__img{
            margin-right: 2rem;
          }
          
        }
        &:nth-of-type(3) {
          flex-direction: row-reverse;
          .about__img{
            margin-left: 2rem;
          }
        }
        &:last-of-type {
          flex-direction: initial;
          .about__img{
            margin-right: 2rem;
          }
        }

        .about__img {
          max-width: 40vw;
          margin: 0;
          padding: 2rem;
        }

        .about_parag {
          max-width: 40vw;
          padding: 2rem;
        }
      }
    }
  }
}
