  .bulletin {
    width: 100vw;
    position: relative;
    height: 100vh;
    background-image: url("./../assets/bulletin_background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .bulletin__title {
      z-index: 20;
      width: 100%;
      height: 40vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .bulletin__title__background {
        height: 20rem;
        width: auto;
        opacity: .9;
        position: absolute;
        z-index: 15;
        margin: 9rem 0;
      }

      .bulletin__title__header {
        @include h2;
        color: rgb(1, 14, 43);
        position: absolute;
        z-index: 25;
        font-family: 'Black Ops One', cursive;
        margin-top: 5rem;
        text-shadow: 1px 1px 0 #555;
      }

      .bulletin__title__download {
        @include button;
        text-decoration: none;
        position: absolute;
        z-index: 25;
        margin-top: 11rem;

        i {
          margin-right: 1rem;
        }
      }
    }
  }

  @media (min-width: 571px) {
    .bulletin {
      .bulletin__title {
        height: 50vh;

        .bulletin__title__background {
          height: 40rem;
        }

        .bulletin__title__download {
          margin-top: 14rem;

        }
      }
    }
  }