.bulletin {
  overflow-x: hidden;
  width: auto;
  height: 100vh;
  background-color: #efefef;

  .bulletin__title {
    width: auto;
    height: 40vh;
    opacity: 0.9;
  }

  .bulletin__title__header {
    @include h2;
    border-bottom: none;
    color: rgb(1, 14, 43);
    font-size: 2.5rem;
    margin-top: 5rem;
  }

  .downloads {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;

    .pdf {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 5rem;
      width: 90vw;

      a {
        width: 90vw;
        text-decoration: none;
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;

        .react-pdf__Page__canvas {
          max-width: 90vw ! important;
          height: auto ! important;
        }
      }
    }
  }
}

@media (min-width: 1300px) {
  .bulletin {

    .bulletin__title__header {
      font-size: 3.5rem;
    }

    .downloads {
      flex-direction: row;
      flex-wrap: wrap;

      .pdf {
        width: 45vw
      }
    }

  }
}