  .bulletin {
    overflow-x: hidden;
    width: auto;
    height: 100vh;
    background-image: url("./../assets/bulletin_background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .bulletin__title {
      position: absolute;
      top:50%;
      left:50%;
      transform: translate(-50%, -50%);
      width: auto;
      height: 40vh;
      opacity: .9;
    }

    .bulletin__title__header {
      @include h2;
      color: rgb(1, 14, 43);
      position: absolute;
      top:50%;
      left:50%;
      transform: translate(-50%, -50%);
      z-index: 25;
      font-family: 'Black Ops One', cursive;
      text-shadow: 1px 1px 0 #555;
    }

    .bulletin__title__download {
      @include button;
      width: 9rem;
      text-decoration: none;
      position: absolute;
      top:50%;
      left:50%;
      transform: translate(-50%, -50%);
      z-index: 25;
      margin-top: 5rem;

      i {
        margin-right: 1rem;
      }
    }
  }

  @media (min-width: 571px) {
    .bulletin {
      .bulletin__title {
        height: 50vh;

        .bulletin__title__background {
          height: 40rem;
        }

        .bulletin__title__download {
          margin-top: 14rem;
        }
      }
    }
  }