.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
  background-color: #ddd;
  padding-bottom: 6rem;

  .form__header {
    @include h2;
    color: #444;
    border-bottom: 1px solid orange;
    margin-bottom: 3rem;
    width: 75%;
  }

  .form__field {
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
    color: rgb(1, 14, 43);
    display: flex;
    width: 75%;
    justify-content: center;

    &:last-of-type {
      flex-direction: column;
      background-color: transparent;
      font-size: 1.4rem;
      color: black;
      margin:0;
      p {
        margin: 1rem 0;
        width: 100%;
        text-align: center;
      }
    }

    i {
      padding: 1rem;
      background: #444;
      color: white;
      min-width: 4rem;
      text-align: center;
    }

    input {
      padding: 1rem;
      outline: none;
      border: 1px solid #444;
      width: 100%;

      &::placeholder {
        color: rgb(1, 14, 43);
        font-size: 1.2rem;
        font-family: "Raleway", sans-serif;
        text-align: center;
      }

      &:focus {
        border: 1px solid #444;
      }
    }

    textarea {
      min-height: 8rem;
      padding: 1rem;
      color: rgb(1, 14, 43);
      text-align: center;
      outline: none;
      border: 1px solid #444;

      &::placeholder {
        color: rgb(1, 14, 43);
        font-family: "Raleway", sans-serif;
        font-size: 1.2rem;
        text-align: center;
      }

      &:focus {
        border: 1px solid #444;
      }
    }
  }

  .form__errors {
    @include p;
    font-size: 1.2rem;
  }

  .form__submit {
    @include button;
    margin-top: 1.5rem;
    color: white;

    i {
      margin-right: 1rem;
      color: white;
    }
  }

  .form__input__fileLoader--label {
    @include button;
    color: white;

    i {
      background-color: transparent;
      padding: 0.5rem;
    }

    .form__input__fileLoader {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
    }
  }
}

.modal {
  position: absolute;
  top: -15rem;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #eee;
  width: 100vw;
  border: 1px solid #ff8d0a;
}

.fa-times-circle {
  position: absolute;
  font-size: 3rem;
  top: 2rem;
  right: 2rem;
  color: #ff8d0a;
}

@media (min-width: 571px) {
  .form {
    height: calc(100vh - 14.5rem);
    justify-content: center;
    background-position: center;
    width: 50vw;
    padding-bottom: 0;

    .form__header {
      margin: 2rem 0;
      font-size: 2.5rem;
      width: 60%;
    }

    .form__field {
      margin-bottom: 1rem;
      font-size: 2rem;
      color: rgb(1, 14, 43);
      display: flex;
      justify-content: center;

      textarea {
        min-height: 5rem;
      }
    }
  }

  .modal {
    width: 75vw;
  }
}

@media (min-width: 800px) {
  .form {
    height: calc(100vh - 12rem);
    justify-content: center;
    background-position: center;
    width: 50vw;

    .form__header {
      margin: 3rem 0;
      font-size: 3.5rem;
    }

    .form__field {
      width: 55%;
    }
  }

  .modal {
    width: 75vw;
  }
}

@media (min-width: 1000px) {
  .modal {
    width: 60vw;
  }
}
