.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
  background-image: url(./../assets/backgrounds/form_background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 10rem;
  border-top: 1px solid #ff8d0a;

  .form__header {
    @include h2;
    margin: 3rem 0;
    color: #ff8d0a;
    text-shadow: 1px 1px 0 black;
  }

  .form__field {
    margin-bottom: 2rem;
    font-size: 2.5rem;
    color: rgb(1, 14, 43);
    display: flex;
    width: 75%;
    justify-content: center;

    &:last-of-type {
      flex-direction: column;
      background-color: transparent;
      font-size: 1.4rem;
      color: white;

      p {
        margin: 0.5rem;
        width: 100%;
        text-align: center;
      }
    }

    i {
      padding: 1rem;
      background: #ff8d0a;
      color: white;
      min-width: 4rem;
      text-align: center;
    }

    input {
      padding: 1rem;
      outline: none;
      border: 1px solid #ff8d0a;
      width: 100%;

      &::placeholder {
        color: rgb(1, 14, 43);
        font-size: 1.2rem;
        font-family: "Raleway", sans-serif;
        text-align: center;
      }

      &:focus {
        border: 1px solid #ff8d0a;
      }
    }

    textarea {
      min-height: 10rem;
      padding: 1rem;
      color: rgb(1, 14, 43);
      text-align: center;
      outline: none;
      width: 100%;
      border: 1px solid #ff8d0a;

      &::placeholder {
        color: rgb(1, 14, 43);
        font-family: "Raleway", sans-serif;
        font-size: 1.2rem;
        text-align: center;
      }

      &:focus {
        border: px solid darkorange;
      }
    }
  }

  .form__errors {
    @include p;
  }

  .form__submit {
    @include button;
    margin-top: 2rem;
    color: white;

    i {
      margin-right: 1rem;
      color: white;
    }
  }

  .form__input__fileLoader--label {
    @include button;
    color: white;

    i {
      background-color: transparent;
      padding: 0.5rem;
    }

    .form__input__fileLoader {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
    }
  }
}

.modal {
  position: absolute;
  top: 10rem;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: black;
  width: 100vw;
  border: 1px solid #ff8d0a;
  margin-bottom: 10rem;
}

.fa-times-circle {
  position: absolute;
  font-size: 3rem;
  top: 2rem;
  right: 2rem;
  color: #ff8d0a;
}

@media (min-width: 571px) {
  .form {
    height: 100vh;
    justify-content: center;
    background-position: center;

    .form__header {
      margin: 3rem 0;
    }

    .form__field {
      width: 50%;
    }
  }

  .modal {
    width: 75vw;
  }
}

@media (min-width: 1000px) {
  .modal {
    width: 60vw;
  }
}
