@font-face {
    font-family: 'Black Ops One';
    src: url('./../assets/fonts/subset-BlackOpsOne-Regular.woff2') format('woff2'),
        url('./../assets/fonts/subset-BlackOpsOne-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
 
@font-face {
    font-family: 'Raleway';
    src: url('./../assets/fonts/subset-Raleway-Medium.woff2') format('woff2'),
        url('./../assets/fonts/subset-Raleway-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}