@font-face {
    font-family: 'black_ops_oneregular';
    src: url('./../assets/fonts/blackopsone-regular-webfont.woff2') format('woff2'),
         url('./../assets/fonts/blackopsone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
 
@font-face {
    font-family: 'ralewaymedium';
    src: url('./../assets/fonts/raleway-medium-webfont.woff2') format('woff2'),
         url('./../assets/fonts/raleway-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}