footer{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ff8d0a;
  padding: 2rem 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: rgb(1, 14, 43);
  position: fixed;
  bottom: 0;
  z-index: 100;

  a{
    text-decoration: none;
    color: rgb(1, 14, 43);
    &:first-of-type{
     font-family: 'Black Ops One', cursive;
      margin-left: 2rem;
      width: 33%;
      font-size: 2.5rem;
    }
    &:last-of-type{
      width: 33%;
      text-align: right;
      font-weight: lighter;
      margin-right: 2rem;
    }
  }
}