footer {
  box-sizing: border-box;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(255, 141, 10);
  padding: 2rem 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: rgb(1, 14, 43);
  position: fixed;
  bottom: 0;
  z-index: 100;

  a {
    text-decoration: none;
    color: rgb(1, 14, 43);
    width: 33%;
    margin: 0 1rem;
    &:first-of-type {
      font-family: 'Black Ops One';
      font-size: 2.5rem;
    }
    &:last-of-type {
      text-align: right;
      font-weight: lighter;
    }
  }
}

@media (min-width:1000px) {
  footer{
    justify-content: space-around;
  }
}
