main{
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  .main__background{
    height: 100%;
    width: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
  }
  .main__logo{
    position: absolute;
    z-index: 7;
    height: 20rem;
    width: auto;
    opacity: .8;
    margin-top: 5rem;
  }
  .main__header{
    position: absolute;
    z-index: 10;
    color: rgb(1, 14, 43);
    text-shadow: 0 3px 3px rgba(255,255,255,0.5);
    font-size: 7rem;
    font-family:  'Black Ops One', cursive;
    margin-top: 20rem;
  }
}