@media (max-width: 550px) {

  nav {
    position: absolute;
    z-index: 10;
    bottom: 0;
    width: 100%;

    .nav__list {
      font-size: 2rem;
      font-weight: lighter;
      text-transform: uppercase;

      .nav__list__elem {
        padding: 2rem;
        text-align: center;
        background-color: rgba(1, 14, 43, .8);
        border-bottom: 1px solid rgba(255, 141, 10, .4);
        animation-name: fade_in;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;

        @keyframes fade_in {
          0% {
            opacity: 0;
            font-size: 3rem;
          }
          100% {
            opacity: 1;
            font-size: 2rem;
          }
        }

        &:nth-of-type(2) {
          animation-delay: .5s;
          animation-fill-mode: both;
        }

        &:nth-of-type(3) {
          animation-delay: 1s;
          animation-fill-mode: both;
        }

        &:nth-of-type(4) {
          animation-delay: 1.5s;
          animation-fill-mode: both;
        }

        a {
          text-decoration: none;
          color: #ff8d0a;
          text-align: center;
          text-shadow: 1px 1px 0 #000;
        }
      }
    }
  }
}

@media (min-width:551px) {
  nav {
    position: absolute;
    z-index: 10;
    bottom: 25%;
    width: 100%;

    .nav__list {
      font-size: 2rem;
      font-weight: lighter;
      text-transform: uppercase;
      display: flex;
      justify-content: space-around;

      .nav__list__elem {
        padding: 2rem;
        width: 20%;
        text-align: center;
        background-color: rgba(1, 14, 43, .8);
        border-radius: 5rem;
        animation-name: fade_in;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;

        @keyframes fade_in {
          0% {
            opacity: 0;
            font-size: 3rem;
          }
          100% {
            opacity: 1;
            font-size: 2rem;
          }
        }

        &:nth-of-type(2) {
          animation-delay: .5s;
          animation-fill-mode: both;
        }

        &:nth-of-type(3) {
          animation-delay: 1s;
          animation-fill-mode: both;
        }

        &:nth-of-type(4) {
          animation-delay: 1.5s;
          animation-fill-mode: both;
        }

        a {
          text-decoration: none;
          color: #ff8d0a;
          text-align: center;
          text-shadow: 1px 1px 0 #000;
        }
      }
    }
  }
}