nav {
  position: absolute;
  z-index: 10;
  bottom: 0;
  width: 100%;
  -webkit-box-shadow: 0px -10px 40px 0px rgba(102,102,102,1);
  -moz-box-shadow: 0px -10px 40px 0px rgba(102,102,102,1);
  box-shadow: 0px -10px 40px 0px rgba(34,34,34,1);
  .nav__list{
    text-decoration: none;
    font-size: 2rem;
    font-weight: lighter;
    text-transform: uppercase;

    .nav__list__elem{
      border-bottom: 1px solid rgba(0,0,0,.4);
      padding: 2rem;
      text-align: center;
      background-color: rgba(256,256,256,.5);
      animation-name: fade_in;
      animation-duration: 1s;
      animation-timing-function: linear;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
      @keyframes fade_in {
        0% {
          opacity: 0;
          font-size: 3rem;
        }
        100% {
          opacity: 1;
          font-size: 2rem;
        }
      }
      &:nth-of-type(2){
        animation-delay: .5s;
        animation-fill-mode: both;
      }
      &:nth-of-type(3){
        animation-delay: 1s;
        animation-fill-mode: both;
      }
      &:nth-of-type(4){
        animation-delay: 1.5s;
        animation-fill-mode: both;
      }
      a{
        text-decoration: none;
        color: black;
        text-align: center;
        padding: 1.8rem 8rem;
      }
    }
  }
}