@import "styles/reset";
@import "styles/mixins";
@import "styles/fonts";

html {
  font-size: 10px;
  font-family: 'Raleway';

  body {
    background-color: rgb(1, 14, 43);
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(1, 14, 43, 1) 100%
    );
    width: 100vw;
    box-sizing: border-box;
    overflow-x: hidden;

    @import "styles/main";
    @import "styles/nav_mobile";
    @import "styles/nav";
    @import "styles/about";
    @import "styles/bulletin";
    @import "styles/footer";
    @import "styles/contact";
    @import "styles/recruitment";
    @import "styles/job_offers";
    @import "styles/carousel";
    @import "styles/contact_form";
    @import "styles/info_modal";
  }
}