@import "styles/reset";
@import "styles/mixins";
@import "styles/fonts";

html {
  font-size: 10px;
  font-family: "Raleway", sans-serif;
  width: 100vw;
  overflow-x: hidden;

  body {
    background-color: #fff;
    box-sizing: border-box;
  

    @keyframes slide-left {
      0% {
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
      }
      100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
      }
    }

    .slide-left {
      -webkit-animation: slide-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
              animation: slide-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }

    @keyframes slide-right {
      0% {
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px);
      }
      100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
      }
    }

    .slide-right {
      -webkit-animation: slide-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
              animation: slide-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }

    @keyframes slide-up {
      0% {
        -webkit-transform: translateY(100px);
        transform: translateY(100px);
      }
      100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
      }
    }

    .slide-up {
      -webkit-animation: slide-up 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
              animation: slide-up 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }

    @keyframes slide-down {
      0% {
        -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
      }
      100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
      }
    }

    .slide-down {
      -webkit-animation: slide-down 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
              animation: slide-down 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }

    @import "styles/main";
    @import "styles/nav_mobile";
    @import "styles/nav";
    @import "styles/about";
    @import "styles/bulletin";
    @import "styles/footer";
    @import "styles/contact";
    @import "styles/recruitment";
    @import "styles/job_offers";
    @import "styles/carousel";
    @import "styles/contact_form";
    @import "styles/info_modal";
  }
}
